<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="urlM" value="https://www.mercadolibre.com.co/"></parameter>
	<parameter name="urlG" value="https://demo.guru99.com/selenium/newtours/index.php"></parameter>
	<parameter name="urlT" value="https://demoqa.com/"></parameter>
	<parameter name="rutaImagenReporte" value="./Imagenes/logo.png"></parameter>
  <test name="Test">
    <classes>
      <class name="test.runTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
